.topo{
    height: 20rem;
    justify-content: center;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    background: url('../../images/bg-header-desktop.png') center / cover no-repeat;
}
.logo-topo {
    margin-bottom: 2.6rem;
    width: auto;
    height: 6rem;
}
.caixa-topo{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 45rem;
}

.caixa-topo h1 {
    text-align: center;
    font-size: 2.3rem;
}

.caixa-topo p {
    width: 35rem;
    text-align: center;
}
.topo-links {
    margin: 70px;
}

.topo-links a {
    border-radius: 1.8rem;
    border-style: none;
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem;
    margin-left: 0.8rem;
}

.topo-links:nth-child(1) {
    background-color: rgb(42, 163, 153);
    box-shadow: 0rem 0.2rem rgb(1, 143, 131);
}

.topo-links:hover:nth-child(1) {
    transition: 0.5s;
    background-color: rgb(38, 102, 97);
}

.topo-links:nth-child(2) {
    background-color: rgb(92, 94, 238);
    box-shadow: 0rem 0.2rem rgb(54, 56, 218);
}

.topo-links:hover:nth-child(2) {
    background-color: rgb(47, 49, 184);
    transition: 0.5s;
}
.body-principal{
    font-family: Bai Jamjuree;
    color: rgb(73, 73, 73);
}

.body-principal p {
    color: rgb(168, 168, 168);
}
body {
    font-family: Roboto, sans-serif;
}

ul, li {
    padding: 0;
}
.main-principal {
    flex-direction: column;
    align-items: center;
    display: flex;
}
.img-art {
    height: 30rem;
    margin: 4.5rem 0;
}
.sec-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    width: 38rem;
  }
  
  .sec-1 h2 {
    font-size: 1.8rem;
  }
  
  .sec-1 p {
    width: 38rem;
  }
  .sec-2 {
    display: flex;
    margin: 2.5rem 0 6rem 0;
}

.sec-2-img{
    height: 30rem;
}
.sec-lista-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 9rem;
    list-style: none;
    width: 22rem;
}

.sec-lista-li{
    margin-bottom: 2rem;
}

.sec-lista-li p {
    line-height: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/* minhas sections */
section.sec-3 {
    margin: 0 auto;
    width: 90%;
    max-width: 1500px;
  }
  
  section.sec-3 div.icones {
    margin-bottom: 50px;
  }
  
  section.sec-3 div.icones img {
    margin: 20px auto;
    display: block;
    width: 50px;
  }
  
  section.sec-3 div.icones h2 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 21px;
    color: #4c545d;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  section.sec-3 div.icones p {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #9fabb2;
    font-size: 1rem;
  }
  
  section.logos {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    margin: 150px auto 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  section.logos img {
    display: block;
    margin-bottom: 50px;
    width: 35%;
  }
  
  
  
  footer {
    background-color: rgba(159, 171, 178, 0.2);
    width: 100%;

  }
  
  footer div.rodape-caixa {
    width: 90%;
    max-width: 1500px;
    margin: 0px auto;
    padding: 50px 0px 10px;
  }

  .rodape-link-imagem{
      padding-top: 50px;
  }
  
  footer div.rodape-caixa div.rodape-link-imagem img {
    display: block;
    width: 60%;
    margin: 0 auto 50px;
    max-width: 100px;
  }
  .rodape-links{
    padding-top: 50px;
}
  footer div.rodape-caixa div.rodape-links a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #4c545d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  footer div.rodape-caixa div.rodape-links a:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    color: #26baa4;
  }
  
  footer div.rodape-caixa div.rodape-links:last-of-type {
    width: 40%;
    max-width: 150px;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer div.rodape-caixa div.rodape-links:last-of-type a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: none;
  }
  
  footer div.rodape-caixa div.rodape-links:last-of-type a svg {
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  footer div.rodape-caixa div.rodape-links:last-of-type a svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  footer div.rodape-caixa div.rodape-links:last-of-type a svg:hover path {
    fill: #26baa4;
  }
  